<br><br><h1>ToDoMailer</h1>

<table>
  <thead>
    <tr>
      <th>このアプリについて</th><br><br>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
          このアプリでTodolistを作ることができます。<br><br>
          あなたが立てた予定が達成することができなかった場合、<br><br>
          メールにて通知されます。<br><br>
          アプリを利用する場合は新規登録orログインをクリックしてください。<br><br>
          アプリの中身を確認する場合は、　アプリの中身を見る　をクリックしてください。<br><br><br>
      </td>
    </tr>
  </tbody>
</table>
<% unless user_signed_in? %>
  <td><%= link_to 'アプリの中身を見る(ゲストログイン機能)', users_guest_sign_in_path, class: "btn btn-sm btn-primary", method: :post  %></td>
  <td><%= link_to 'アプリの中身を見る(ゲストログイン機能(管理者))', users_admin_guest_sign_in_path, class: "btn btn-sm btn-primary", method: :post  %></td>
<% end %>
