@import '~bootstrap/scss/bootstrap';

header {
  height: 45px;
  background-color: #DDDDDD;

}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: #DDDDDD;
}

table {
  margin: 0 auto;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #DDFFFF;

}
